 
@{
    ViewBag.Title = "Yeni Kayıt";
}

<h2>Yeni Kayıt</h2>
<br/>
<br/>
<form action="/Account/Create" method="post">
    <label>Ad</label>
    <br />
    <input type="text" name="Username" />
    <br />
    <br />
    <label>Soyad</label>
    <br />
    <input type="text" name="Surname" />
    <br />
    <br />
    <input type="submit" value="Kaydet" />

</form>
